* {
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgb(15, 15, 20);
}

header {
    display: flex;
    flex-direction: column wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1%;
    gap: 5%;
    border-radius: 10px;
    background-color: rgb(30, 30, 40);
    color: rgb(200, 200, 200);
}

#menu-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: baseline;
    flex: 1;
    background-color: #003E8B;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

nav menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    gap: 5%;
}

nav menu a {
    color: rgb(200, 200, 200);
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    gap: 50px;
    width: 80%;
    border-radius: 20px;
    background-color: #002f69;
    color: rgb(200, 200, 200);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#habilidades {
    display: flex;
    flex-direction: column;
    padding: 1%;
    padding-right: 33%;
    border: solid 1px;
    border-radius: 15px;
    background-color: rgb(15, 15, 20);
    color: rgb(200, 200, 200);
    box-shadow: 3px 5px 5px rgb(12, 12, 12);
}

#habilidades ul {
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: rgb(30, 30, 40);
    color: rgb(200, 200, 200);
    width: 100%;
}